// All the typography




body{
    font-family: var(--ff);
    line-height: 1.5;
    font-size: var(--fs-400);
    
}



h1{
    font-size: var(--fs-700);
}

// Some utilites for the headings

h1,
h2,
h3
{
    font-weight: var(--fw-700);
}

p, 
button,
a
{
    font-weight: var(--fw-600);
    
}
.title-xxl{
    font-size: 4rem;
    line-height: 1;
    text-align: center;

    @include responsive(tablet){
        
        font-size: 6.8rem;
        line-height: .84;
    }

    @include responsive(laptop){
        font-size: var(--fs-700);
        line-height: 1;
    }

}




.title-xl{

}

.title-l{

}

.title-md{

}

.text-body-one{

}

.text-body-two{
    
}

